
body{
    background-image: url("./mariobros3backgroun.png");
    background-size: center;

}



.flex-container{
    display: flex;
    justify-content: center;
    height: 600px;

    /* background-color: rgb(255, 255, 255); */
    flex-direction: column;
    align-items: center;
    border:solid black;
   
}

#endGame{
    display:none;
    width: 80px;
    height: 40px;
    background: linear-gradient(0.25turn, #7bb82c, #bae00d, #60a34f);
    margin: 15px;
    box-shadow:  -2px 2px 0px #192719;
    align-self: auto;
    
}


#restart{
    display:none;
    width: 80px;
    height: 40px;
    background: linear-gradient(0.25turn, #7bb82c, #bae00d, #60a34f);
    margin: 15px;
    box-shadow:  -2px 2px 0px #192719;
    align-self: auto;
}

#playertwo{
    display: none;
}
#scoreboard{
    align-self: center;
    font-size: 20px;
    background-color: white;
    color: red;

}
.item1{
    width: 80px;
    height: 40px;
    background-color:white ;
    margin: 15px;
    border-radius: 25px;

    /* justify-content: center; */
}


#playButton{
    display: none;
}
#playerTwoButton{
    display: none;
}

.item1:hover{
    border-color: rgb(0, 255, 242);
    box-shadow:  -2px 2px 0px #65e54b;
    
}

.item2{
        width: 80px;
        height: 40px;
        background-color:white ;
        margin: 15px;
        border-radius: 25px;
        /* justify-content: center; */
    
    }



.item2:hover{
        border-color: rgb(0, 255, 242);
        box-shadow:  -2px 2px 0px #65e54b
    }

.item3{
        width: 80px;
        height: 40px;
        background-color:white ;
        margin: 15px;
        border-radius: 25px;
        
        /* justify-content: center; */
     
}

.item3:hover{
    border-color: rgb(0, 255, 242);
    box-shadow:  -2px 2px 0px #65e54b
}








.banner{
    font-family:fantasy;
    font-size: 40px;
    align-self:flex-start;
animation-name: moveBanner;
animation-direction:normal;
animation-duration: 4s;
animation-iteration-count: infinite;
color: #548124;


}








#circle1{

    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
    
    display: none;
    align-self:center;
  
    animation: bounce 3s ease-in-out infinite;
    animation-delay: 1ms;
}

#circle2{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(255, 153, 0);
    align-self: start;
    display: none;
    align-self:flex-start;
   
}




#circle3{

    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(38, 0, 255);
    align-self: start;
    display: none;
    align-self:flex-start;
    animation-name: moveBanner;
    animation-direction:normal;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}



#circle4{

    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(0, 183, 255);
    align-self: start;
    display: none;
    align-self:flex-start;
    animation-name: moveBanner;
    animation-direction:normal;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}


#circle5{

    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(0, 255, 191);
    align-self: start;
    display:none;
    align-self:flex-start;
    animation-name: moveBanner;
    animation-direction:normal;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}






/* Hidden Text under Id */
#open{
    display:none;
    font-family:monospace;
    color:red;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.658);
    border-radius: 10px;
    font-size: 8px;
    /* height: fit-content; */
    
}
.close:hover{
    /* align-self: flex-end; */
   
        border-color: rgb(0, 255, 242);
        box-shadow:  -2px 2px 0px #65e54b
        
    
        }
    
      




.show{
    display: flex!important; 
}





@media (max-resolution: 300dpi) {
    body {
      background-position: center;
    }
  }

  @keyframes moveBanner {
    
   
   from{ transform: translateX(500px) rotate(30deg) translateY(30px)}


}


@keyframes bounce{
    0% /* 0%,40%,100% */

    
    {
        transform: translateY(0);
    }
    20%
    {
            transform: translateY(-200px);
        }

    50%
    {
        transform: translateX(-200px)
    }
    100%{
        transform:translateX(500px)
    }
    }





